{% extends 'base.html.twig' %}

{% block title %}{{ form.name }} - {{ parent() }}{% endblock %}

{% block body %}
      <!-- Image header -->
      <div class="w3-display-container w3-container">
        <div>
          <h1 class="w3-jumbo w3-hide-small">{{ formName }}</h1>
          <h3 class="w3-justify">{{ form(dataForm) }}</h3>
        </div>
      </div>

      <!-- Subscribe section -->
      <div class="w3-container w3-black w3-padding-32">
        <h1>Subscribe</h1>
        <p>To get special offers and VIP treatment:</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
        <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
      </div>
{% endblock %}